
 
.demo{ background: #c2a751; }
nav.navbar.bootsnav{
    border: none;
    background: none;
    margin-bottom: 150px;
}
nav.navbar.bootsnav ul.nav > li{
    margin-right: 10px;
}
nav.navbar.bootsnav ul.nav > li:before,
nav.navbar.bootsnav ul.nav > li:after{
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
nav.navbar.bootsnav ul.nav > li:before{
    top: 0;
    transform: translateY(10px);
}
nav.navbar.bootsnav ul.nav > li:after{
    bottom: 0;
    transform: translateY(-10px);
}
nav.navbar.bootsnav ul.nav > li:hover:before,
nav.navbar.bootsnav ul.nav > li:hover:after{
    opacity: 1;
    transform: translateY(0px);
}
nav.navbar.bootsnav ul.nav > li > a{
    padding: 15px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
nav.navbar.bootsnav ul.nav > li.dropdown > a{
    padding: 15px 30px 15px 15px;
}
nav.navbar.bootsnav ul.nav > li > a:hover{ color: #fff; }
 
nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    position: absolute;
    margin: 0 0 0 7px;
}
nav.navbar.bootsnav ul.nav > li.dropdown > ul{
    top: 120%;
    transition: all 0.8s ease 0s;
}
nav.navbar.bootsnav ul.nav > li.dropdown.on > ul{
    top: 100%;
}
.dropdown-menu.multi-dropdown{
    position: absolute;
    left: -100% !important;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
}
@media only screen and (max-width:990px){
    .dropdown-menu.multi-dropdown{ left: 0 !important; }
    nav.navbar.bootsnav .navbar-toggle{
        background: none;
        color: #fff;
    }
    nav.navbar.bootsnav ul.nav > li{
        margin-right: 0;
    }
    nav.navbar.bootsnav ul.nav > li:before,
    nav.navbar.bootsnav ul.nav > li:after{
        background: #dca342;
    }
    nav.navbar.bootsnav.navbar-mobile ul.nav > li > a{
        padding: 15px;
        text-align: center;
    }
    nav.navbar.bootsnav ul.nav > li > a,
    nav.navbar.bootsnav ul.nav > li > a:hover{
        color: #333;
    }
    nav.navbar.bootsnav ul.nav > li.dropdown > ul{ top: 100%; }
}